body {
  background: #ffffff;
}

.mobile-logo {
  width: 130px;
  height: 90px;
  margin-right: -460px;
}

section {
  margin: 0 auto;
  text-align: center;
  width: 960px;
}

#hexMobile {
  display: none;
}

.hex_row_even {
  display: inline-block;
  margin: 0 auto -275px auto;
  overflow: hidden;
}

.hex_row_odd {
  display: inline-block;
  margin: 0 auto -275px auto;
  overflow: hidden;
}

.center {
  float: left;
  margin: 20px 10px;
  width: 220px;
}






.hexagon {
  cursor: pointer;
  height: 440px;
  /* ($width *2) */
  overflow: hidden;
  visibility: hidden;
  width: 220px;
}

.hex1 {
  transform: rotate(-60deg);
  /* Change the rotation to 0 degrees */
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.hex2 {
  transform: rotate(-60deg);
  /* Adjusted rotation to counteract the previous rotation */
  height: 100%;
  position: relative;
  visibility: visible;
  width: 100%;
}

.hex2[style] {
  background-size: cover !important;
}

.desc {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  height: 440px;
  /* ($width * 2) */
  line-height: 1.5em;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  visibility: visible;
  width: 220px;
}

.desc.base {
  background: rgba(230, 0, 98, .75);
  /* $pink */
}

.desc.one {
  background: rgba(252, 171, 55, .75);
  /* $yellow */
}

.desc.two {
  background: rgba(169, 160, 50, .75);
  /* $green */
}

.desc.three {
  background: rgba(83, 70, 54, .75);
  /* $brown */
}

.desc h2 {
  margin: 150px 20px 0 20px;
  /* ($width - ($width / 4)) */
}

.desc p {
  font-size: .5em;
  text-transform: lowercase;
}







.title {
  font-family: "Raleway";
  font-size: 28px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

p {
  line-height: 1.5em;
}

h1+p,
p+p {
  margin-top: 10px;
}




.container {
  padding: 40px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-wrap {
  width: calc(25% - 20px);
  margin: 50px;
  transform: perspective(800px) rotateY(0deg);
  transition: transform 0.5s ease;
  /* Add transition for transform */
}

.card-wrap:hover {
  transform: perspective(800px) rotateY(10deg);
}

.card-wrap:hover .card-info {
  opacity: 1;
  transform: translateY(0);
}

.card-wrap:hover .card-bg {
  opacity: 0.8;
}

.card-wrap:hover .card {
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, rgba(255, 255, 255, 1) 0 0 0 1px, rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
}

.card {
  position: relative;
  flex: 0 0 240px;
  width: 240px;
  height: 320px;
  background-color: #333;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
  transition: box-shadow 0.5s ease;
  /* Add transition for box-shadow */
}

.card-bg {
  opacity: 0.5;
  position: absolute;
  top: -20px;
  left: -20px;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity 0.5s ease;
  /* Add transition for opacity */
  pointer-events: none;
}

.card-info {
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  /* Add transition for opacity and transform */
}

.card-info p {
  opacity: 0;
  text-shadow: rgba(0, 0, 0, 1) 0 2px 3px;
}

.card-info * {
  position: relative;
  z-index: 1;
}

.card-info:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  background-blend-mode: overlay;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s ease;
  /* Add transition for opacity */
}

.card-info h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000000;
  text-align: center;
}

.card-info button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-info button:hover {
  background-color: #565456;
}

.serviceTilte {
  text-align: center;
  font-size: 18px;
  align-items: center;
}



/* Welcome Section */
.welcome {
  background: linear-gradient(to bottom right, #55355d, #a769a7);
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.welcome-content {
  max-width: 90%; /* Adjusted for smaller screens */
  margin: 0 auto;
}

.welcome-content h2 {
  font-size: 38px; /* Reduced font size */
  font-weight: bold;
  margin-bottom: 20px; /* Reduced margin */
  color: #fff;
}

.welcome-content p {
  font-size: 20px; /* Reduced font size */
  line-height: 1.4; /* Adjusted line height */
  color: #efeaef;
}

/* Contact Info */
.contact-info {
  direction: rtl;
  text-align: right;
  font-family: Arial, sans-serif;
  margin-top: 20px; /* Reduced margin */
  padding: 15px; /* Reduced padding */
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-info:hover {
  transform: none; /* Remove transform on hover */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Adjusted shadow */
}

.info-item {
  margin-bottom: 10px; /* Reduced margin */
}

.info-item i {
  margin-right: 8px; /* Reduced margin */
  color: #a769a7;
}

.info-item span {
  font-size: 14px; /* Reduced font size */
  color: #333;
  font-weight: bold;
}

/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f5f5f5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Worker card styles */
.workers {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.worker {
  flex: 1 1 calc(25% - 20px);
  max-width: 300px;
  height: 420px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.worker:hover {
  transform: translateY(-5px);
}

.worker img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.worker-content {
  padding: 20px;
}

.worker-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.worker-description {
  font-size: 16px;
  color: #666666;
}

/* Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .worker {
    flex-basis: calc(50% - 20px);
  }
}


/* Add your custom CSS styles here */
.video-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Ensure full viewport height */
  margin: 0;
}

.video-container {
  text-align: center;
  /* Center the content */
}

.tiktok {
  margin-bottom: 10px;
  /* Add margin below the video */
}

.tiktok iframe {
  width: 100%;
  /* Set width to 100% */
  height: 570px;
  /* Set height to 500px */
  border: none;
  /* Remove iframe border */
  overflow: hidden;
  /* Hide scrollbars */
}

button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: #45a049;
}





/* Footer Styles */

footer {

  background-color: #ffffff;
  /* Set background color */
  color: #000000;
  /* Set text color */
  padding: 20px 0;
  /* Add padding */

  border-top: 2px solid #000;
  /* Add top border with 2px width and black color */


}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logo {
  width: 100px;
  /* Adjust width of logo container */
  height: 100px;
  /* Adjust height of logo container */
  border-radius: 50%;
  /* Make logo container circular */
  overflow: hidden;
  /* Hide overflow content */
}

.footer-logo img {
  width: 100%;
  /* Set logo width to fill container */
  height: auto;
  /* Maintain aspect ratio */
}

.footer-info {
  flex: 1;
  max-width: 300px;
  /* Limit width of info section */
}

.footer-info p {
  margin: 5px 0;
  /* Add margin between paragraphs */
}

.footer-bottom {
  text-align: center;
  /* Center align text */
  margin-top: 10px;
  /* Add space between content and bottom */
}
















































/* Adjustments for smaller screens */
@media only screen and (max-width: 768px) {

  .mobile-logo {
    width: 130px;
    height: 90px;
    margin-right: -160px;
  }


  section {
    width: 90%;
    /* Adjust width of sections */

  }

  #hexSection {
    display: none;
    /* Hide the hexSection on mobile devices */
  }


  #hexMobile {
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }

  .big-image {
    position: relative;
    width: 400px;
    /* Adjust width of big image container */
    height: 300px;
    /* Adjust height of big image container */
    border-radius: 10px;
    /* Add border radius for rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    /* Add subtle shadow effect */
    transition: box-shadow 0.3s ease;
    /* Add transition effect for box-shadow */
  }

  .big-image:hover {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    /* Increase shadow on hover */
  }

  .big-image img {
    width: 100%;
    /* Ensure big image fills its container */
    height: 100%;
    /* Ensure big image fills its container */
    object-fit: cover;
    /* Maintain aspect ratio */
    transition: transform 0.3s ease;
    /* Add transition effect for transform */
  }

  .big-image:hover img {
    transform: scale(1.05);
    /* Enlarge big image on hover */
  }

  .small-image {
    position: absolute;
    top: 97%;
    /* Position small image vertically centered */
    left: 0;
    /* Initial position at the left */
    transform: translate(-100%, -50%);
    /* Move the small image to the left */
    z-index: 1;
    /* Ensure small image appears on top of big image */
    transition: left 1s ease-in-out;
    /* Add transition effect for position */
  }

  .small-image img {
    width: 250px;
    /* Adjust width of small image */
    height: 200px;
    /* Maintain aspect ratio */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Add shadow effect */
  }

  .small-image img:hover {
    transform: scale(1.1);
    /* Enlarge small image on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    /* Increase shadow on hover */
  }

  /* Animation to move small image from left to center */
  @keyframes moveFromLeft {
    0% {
      left: 0;
    }

    100% {
      left: 80%;
      /* Move the small image to the center */
    }
  }

  /* Apply animation to small image */
  .small-image {
    animation: moveFromLeft 1s ease forwards;
    /* Apply animation forwards */
  }

  .welcome.animated .welcome-content h2,
  .welcome.animated .welcome-content p {
    opacity: 1;
    transform: none;
    transition: none;
  }
  .container {
    margin-right: 72%;
  }

  .card-wrap {
    width: calc(50% - 20px);
    /* Adjust width to fit two cards in a row */
    margin: 20px;
    /* Adjust margin */
  }

  .card-info {
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    opacity: 1;
    /* Change opacity to 1 to make it always visible */
    transform: translateY(0);
    /* Remove transformation */
  }
/* 
  .workers {
    margin-left: auto;
    margin-right: auto;
  }

  .workers {
    flex-wrap: wrap;
    justify-content: center;
  }

  .worker {
    margin-bottom: 20px;
    flex: 0 0 45%;
  }

 */



  /* Adjustments for workers */
  .workers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* Add gap between worker cards */
  }

  /* Adjustments for worker cards */
  .worker {
    flex: 1 1 calc(50% - 20px);
    /* Adjust width to fit two cards in a row with gap */
    max-width: 300px;
    /* Limit maximum width */
    text-align: center;
  }

  /* Adjustments for worker card styling */
  .worker-card {
    width: 100%;
    background-color: #1c1c1c;
    border-radius: 10px;
    border: 2px solid transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out forwards, borderFade 0.3s ease;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, opacity 0.3s ease, border-color 0.3s ease;
  }
  .worker-name {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .worker-description{
    font-size: 8px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Keyframe animation for fadeInUp */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Keyframe animation for borderFade */
  @keyframes borderFade {
    from {
      border-color: transparent;
    }

    to {
      border-color: #55355d;
    }
  }

  /* Adjustments for video container */
  .video-container {
    margin-left: auto;
    /* Reset left margin */
    margin-right: auto;
    /* Reset right margin */
  }

  /* Adjustments for footer content and logo */
  .footer-content {
    margin-left: 60px;
  }

  .footer-logo img {
    width: 60%;
  }
}
